body{
    background-color:rgb(28, 36, 51);
    margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 140px;
  text-align: center;

}

h1{
    color:rgb(255, 245, 232);
    font-family:monospace;
    font-size: 70px;
    font-weight:bolder;
    text-align: center;
    

    
    
    
}

.p {
    font-style: italic;
    text-align: center;
    
}
.p1 { 
    color:rgb(255, 245, 232);
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    
    
}

.p2 { 
    color:rgb(255, 245, 232);
    font-family:monospace;
    font-size: 17px;
    text-align: center;
   
}

.p3 { 
    color:rgb(255, 245, 232);
    font-family:monospace;
    font-size: 17px;
    text-align: center;
    
}

.main {
    
}

.img {
    border-radius: 8px;
    
}
