html{
    font-family: coquette,sans-serif;
    font-size: 20px;
    margin: 40px 15px 20px 40px;
}

header{
    font-size: 70px;
    color:indianred;
    font-family: coquette,sans-serif;
font-weight: 700;
font-style: normal;
}
p{
    font-size:20px;
    color:rgb(77, 48, 10);
    letter-spacing: .03em;
    font-family: coquette,sans-serif;
font-weight: 400;
font-style: normal;
}

p1{
    font-size:20px;
    color:rgb(77, 48, 10);
    letter-spacing: .03em;
    font-family: coquette,sans-serif;
font-weight: 400;
font-style: normal;
}

a{
    color: olivedrab;
}
img {
    width: 80%;
    height: auto;
  }


p2{
    font-size:20px;
    color:rgb(77, 48, 10);
    letter-spacing: .03em;
    font-family: coquette,sans-serif;
font-weight: 400;
font-style: normal;
}

p3{
    font-size:20px;
    color:rgb(77, 48, 10);
    letter-spacing: .03em;
    font-family: coquette,sans-serif;
font-weight: 400;
font-style: normal;
}

p4{
    font-size:20px;
    color:rgb(77, 48, 10);
    letter-spacing: .03em;
    font-family: coquette,sans-serif;
font-weight: 400;
font-style: normal;
}